<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <span>DC</span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{% url 'home' %}">Grades</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Browse</a>
          <ul class="submenu">
            <li><a href="{% url 'division' 'all' %}">All</a></li>
            <li class="more"><a href="{% url 'division' 'undergraduate' %}">Undergraduate</a>
              <ul class="submenu">
                <li><a href="{% url 'division' 'lower-division' %}">Lower Division</a></li>
                <li><a href="{% url 'division' 'upper-division' %}">Upper Division</a></li>
              </ul>
            </li>
            <li><a href="{% url 'division' 'graduate' %}">Graduate</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
  
    </div>
  </div>
</header>
