{% extends "base.html" %}
{% load staticfiles %}

{% block extra-js %}
<script type="text/javascript" src="{% static "dt_pkg/DataTables-1.10.9/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "dt_pkg/Responsive-1.0.7/js/dataTables.responsive.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.v3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphic_base.js" %}"></script>
<script type="text/javascript" src="{% static "js/grade_histogram.js" %}"></script>
{% endblock extra-js %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static "dt_pkg/DataTables-1.10.9/css/jquery.dataTables.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "dt_pkg/Responsive-1.0.7/css/responsive.dataTables.min.css" %}"/>
{% endblock extra-css %}