{% extends "dt_base.html" %}
{% load mathfilters %}

{% block content %}
<div class="col-1-1">
  <div class="content">
    <h1>
      <a href="{% url 'subject-list' %}">Subjects</a> >
        <a href="{% url 'subject-course-list' object.subject.id %}">
          {{ object.subject }}
        </a> >
          {{ object }}
    </h1>
    <table id="sections" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Section</th>
          <th>Term</th>
          <th>Instructor(s)</th>
          <th>Median</th>
          <th>Mean</th>
          <th>St. Dev.</th>
          <th>Grades</th>
          <th>% Letter</th>
        </tr>
      </thead>
      <tbody>
{% for section in sections %}
        <tr>
          <td>
            <a href="{% url 'section-detail' section.id %}">
                {{ section.course }}-{{section.number }}
            </a>
          </td>
          <td>
            {{ section.term }}
          </td>
          <td>
            {{ section.instructor }}
          </td>
          <td>
            {{ section.grade_median|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ section.grade_average|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ section.grade_stdev|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ section.total_grades }}
          </td>
          <td>
            {{ section.letter_grades|div:section.total_grades|mul:100|floatformat:0 }}
          </td>
        </tr>
{% empty %}
        <tr>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
    $(document).ready(function() {
        $('#sections').DataTable( {
            "order": [],
            "columnDefs": [
                { "orderable": false, "targets": [0, 1] }
            ],
            "paging": false
        } );
    } );
</script>
{% endblock content %}
