{% extends "dt_base.html" %}
{% load humanize %}
{% load mathfilters %}

{% block subtitle %}
{{ course }}
{% endblock subtitle %}

{% block content %}

    <h1>{{ course }}</h1>
    <table id="sections" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Section</th>
          <th>Term</th>
          <th>Instructor(s)</th>
          <th>Mean</th>
          <th>St. Dev.</th>
          <th>Grades</th>
        </tr>
      </thead>
      <tbody>
{% for section in sections %}
        <tr>
          <td>
            <a href="{% url 'section-detail' section.id %}">
                {{ section.course }}-{{section.number }}
            </a>
          </td>
          <td>
            {{ section.term }}
          </td>
          <td>
            {{ section.instructor }}
          </td>
          <td>
            {{ section.grade_average|floatformat:2|default:"&mdash;" }}
          </td>
          <td>
            {{ section.grade_stdev|floatformat:2|default:"&mdash;" }}
          </td>
          <td>
            {{ section.total_grades|intcomma }}
          </td>
        </tr>
{% empty %}
        <tr>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
{% endfor %}
      </tbody>
    </table>

<script>
    $(document).ready(function() {
        $('#sections').DataTable( {
            "order": [],
            "columnDefs": [
                { "orderable": false, "targets": [0, 1] }
            ],
            "paging": false
        } );
    } );
</script>
{% endblock content %}
