{% extends "dt_base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load gradefilters %}

{% block subtitle %}
{{ course }}
{% endblock subtitle %}

{% block content %}

    <h1><a href="{% url 'subject' course.subject.slug %}">{{ course.subject }}</a> {{ course.number }}</h1>

    <hr>

    <div class="info">
      <div class="stats">
        <ul>
          <li class="main-grade">{{ course.mean|lettergrade }}</li>
          <li>{{ course.mean|floatformat:2 }}<span>Average</span></li>
          <li>{{ course.stdev|floatformat:2 }}<span>St. Dev.</span></li>
          <li>{{ course.letter_grades|intcomma }}<span>Grades</span></li>
        </ul>
      </div>

      <div class="histogram" id="distribution"></div>
    </div>

    <hr>


<script>
    $(document).ready(function() {
        var data = {{ course.formatted_distribution|safe }}
        gradeHistogram(data, '#distribution')

    });
</script>
{% endblock content %}
