{% extends "dt_base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load gradefilters %}
{% load staticfiles %}

{% block subtitle %}
{{ subject }} ({{ division_set.name }})
{% endblock subtitle %}

{% block content %}
<div class="discipline">
    <h1>{{ discipline.name }}</h1>    

    <ul class="accordion-tabs-minimal">
      {% for stats in discipline.disciplinestats_set.all %}
      {% if stats.letter_grades > 0 %}
       <li class="tab-header-and-content">
        <a href="#" class="tab-link">{{ stats.division_set.name }}</a>
        <div class="tab-content">
          <div class="info">
            <div class="stats">
              <ul>
                <li class="main-grade">{{ stats.mean|lettergrade }}</li>
                <li>{{ stats.mean|floatformat:2 }}<span>Average</span></li>
                <li>{{ stats.stdev|floatformat:2 }}<span>St. Dev.</span></li>
                <li>{{ stats.letter_grades|intcomma }}<span>Grades</span></li>
              </ul>
            </div>

            <div class="histogram" id="distribution-{{ stats.division_set.slug }}"></div>
          </div>

        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <hr> 

    <h2>Subjects</h2>

    <table>
    {% for subject in discipline.subject_set.all %}
    <tr>
      <td><a href="{% url 'subject' subject.slug %}">{{ subject.name }}</a></td>
    </tr>
    {% endfor %}
    </table>
    
</div>

<script>
$(document).ready(function () {
  // Render histograms
  {% for stats in discipline.disciplinestats_set.all %}
    (function() {
      var data = {{ stats.formatted_distribution|safe }}
      gradeHistogram(data, '#distribution-{{ stats.division_set.slug }}')
    })();
  {% endfor %}

  // Set up tabs
  $('.accordion-tabs-minimal').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });
  $('.accordion-tabs-minimal').on('click', 'li > a.tab-link', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs-minimal');
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>

{% endblock content %}
