{% extends "dt_base.html" %}
{% load staticfiles %}

{% block content %}

<h1>{{ name }} subjects</h1>

<div class="graphic dot-chart" id="graphic"></div>

<div class="stats-container">
  <div class="dropdown">
    <div class="dropdown-container">
      <p class="dropdown-description">Sort by</p>
      <p class="dropdown-button">Alphabetical</p>
      <ul class="dropdown-menu dropdown-select">
        <li>Average grade</li>
        <li>Alphabetical</li>
        <li>Discipline</li>
      </ul>
    </div>
  </div>
  <div class="stats" id="stats"></div>
  <div class="histogram" id="histogram"></div>
</div>

<script type="text/template" id="stats-template">
  <h2><%= sub %></h2>
  <div class="category-legend" style="background: <% print(colors[discipline]) %>"></div><p><%= discipline %></p>
  <div class="stats">
    <ul>
      <li class="main-grade"><%= grade %></li>
      <li><% print(avg.toFixed(2)) %><span>Average</span></li>
      <li><% print(std.toFixed(2)) %><span>St. Dev.</span></li>
      <li><% print(fmtComma(num)) %><span>Grades</span></li>
    </ul>
  </div>
</script>

<script type="text/javascript">

// Global vars
var data = {{ data | safe }};
var containerElement;
var chartElement;
var isMobile = false;
var labelColumn = 'sub';
var valueColumn = 'avg';

var barHeight = 20;
var barGap = 3;
var labelWidth = 160;
var labelMargin = 20;
var valueMinWidth = 30;
var dotRadius = 5;
var transitionDuration = 1000;
var margins = {
    top: 30,
    right: 20,
    bottom: 0,
    left: (labelWidth + labelMargin)
};

var statsTemplate = _.template($('#stats-template').html());

var colors = {
  'Arts & humanities': '#e31a1c',
  'Engineering': '#fdbf6f',
  'Formal science': '#fb9a99',
  'Language': '#cab2d6',
  'Natural science': '#33a02c',
  'Other': '#ff7f00',
  'Professional': '#b2df8a',
  'Social science': '#a6cee3'  
};

/*
 * Render the graphic
 */
var render = function(data, container) {
    // Set up resize event listener
    $( window ).resize(function() {
        renderDotChart({
            container: container,
            data: data
        });
    });

    // Render the chart!
    renderDotChart({
        container: container,
        data: data
    });
}

/*
 * Render a dot chart.
 */
var renderDotChart = function(config) {
    config['width'] = $(config['container']).width();

    if (config['width'] <= MOBILE_THRESHOLD) {
        isMobile = true;
    } else {
        isMobile = false;
    }

    /*
     * Setup
     */

    var ticksX = 4;
    var roundTicksFactor = 1;

    if (isMobile) {
        ticksX = 6;
        margins['right'] = 30;
    }

    // Calculate actual chart dimensions
    var chartWidth = config['width'] - margins['left'] - margins['right'];
    var chartHeight = ((barHeight + barGap) * config['data'].length);

    // Clear existing graphic (for redraw)
    containerElement = d3.select(config['container']);
    containerElement.html('');

    /*
     * Render a color legend.
     */

    var legend = containerElement.append('ul')
        .attr('class', 'key')
        .selectAll('g')
            .data(_.pairs(colors))
        .enter().append('li')
        .attr('class', 'key-item')
    legend.append('b')
        .style('background-color', function(d) {
          return d[1];
        });

    legend.append('label')
        .text(function(d) {
            return d[0];
        });

    /*
     * Create the root SVG element.
     */
    var chartWrapper = containerElement.append('div')
        .attr('class', 'graphic-wrapper');

    chartElement = chartWrapper.append('svg')
        .attr('width', chartWidth + margins['left'] + margins['right'])
        .attr('height', chartHeight + margins['top'] + margins['bottom'])
        .append('g')
        .attr('transform', 'translate(' + margins['left'] + ',' + margins['top'] + ')');

    /*
     * Create D3 scale objects.
     */
    var xScale = d3.scale.linear()
        .domain([2.5, 4])
        .range([0, chartWidth]);

    /*
     * Create D3 axes.
     */
    var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient('bottom')
        .ticks(ticksX)
        .tickFormat(function(d) {
            return d;
        });

    /* Render hover targets */
    chartElement.append('g')
        .attr('class', 'hover-target')
        .selectAll('rect')
        .data(config['data'])
        .enter().append('rect')
            .attr('x', function(d, i) {
                return 0;
            })
            .attr('y', function(d, i) {
                return i * (barHeight + barGap);
            })
            .attr('width', chartWidth)
            .attr('height', barHeight)
            .attr('fill', '#fff')
        .on('mouseover', function(d) {
          d3.selectAll('.hover-target rect').classed('hover', false);
          d3.select(this).classed('hover', true);
          $('#stats').html(statsTemplate(d));
          gradeHistogram(d.dist, '#histogram');
        })
        .on('click', function(d) {
          location.href = location.origin + '/search/subject/' + d.slug;
        });

    /*
     * Render axes to chart.
     */
    chartElement.append('g')
        .attr('class', 'x axis')
        //.attr('transform', makeTranslate(0, chartHeight))
        .call(xAxis)
        .selectAll('text')
          .attr('transform', 'translate(0,-25)');
      

    /*
     * Render grid to chart.
     */
    var xAxisGrid = function() {
        return xAxis;
    };

    chartElement.append('g')
        .attr('class', 'x grid')
        .attr('transform', makeTranslate(0, chartHeight))
        .call(xAxisGrid()
            .tickSize(-chartHeight, 0, 0)
            .tickFormat('')
        );

    /*
     * Render dots to chart.
     */
    chartElement.append('g')
        .attr('class', 'dots')
        .selectAll('circle')
        .data(config['data'])
        .enter().append('circle')
            .attr('cx', function(d, i) {
                return xScale(d[valueColumn]);
            })
            .attr('cy', function(d, i) {
                return i * (barHeight + barGap) + (barHeight / 2);
            })
            .attr('r', dotRadius)
            .attr('fill', function(d) {
                return colors[d['discipline']];
            });

    /*
     * Render labels.
     */
    chartWrapper
        .append('ul')
        .attr('class', 'labels')
        .attr('style', formatStyle({
            'width': labelWidth + 'px',
            'top': margins['top'] + 'px',
            'left': '0'
        }))
        .selectAll('li')
        .data(config['data'])
        .enter()
        .append('li')
            .attr('style', function(d, i) {
                return formatStyle({
                    'width': labelWidth + 'px',
                    'height': barHeight + 'px',
                    'left': '0px',
                    'top': i * (barHeight + barGap) + 'px;'
                });
            })
            .attr('class', function(d) {
                return classify(d[labelColumn]);
            })
            .append('span')
                .text(function(d) {
                    return d[labelColumn];
                });

    /*
     * Render dot values.
     */
    chartElement.append('g')
        .attr('class', 'value')
        .selectAll('text')
        .data(config['data'])
        .enter().append('text')
            .attr('x', function(d, i) {
                return xScale(d[valueColumn]) + 10;
            })
            .attr('y', function(d,i) {
                return i * (barHeight + barGap) + (barHeight / 2) + 3;
            })
            .text(function(d) {
                return d[valueColumn].toFixed(2);
            });
}

var sortByAverage = function() {
  _.each(['circle','.labels li', '.value text', '.hover-target rect'], function(cls) {
    containerElement.selectAll(cls)
      .sort(function(a, b) {
        return a['avg'] - b['avg'];
    });
  });

  animateTransition();
}

var sortAlphabetical = function() {
  _.each(['circle','.labels li', '.value text', '.hover-target rect'], function(cls) {
    containerElement.selectAll(cls)
      .sort(function(a, b) {
        return a['sub'] == b['sub'] ? 0 : a['sub'] < b['sub'] ? -1 : 1;
    });
  });

  animateTransition();
}

var sortByDiscipline = function() {
  _.each(['circle','.labels li', '.value text', '.hover-target rect'], function(cls) {
    containerElement.selectAll(cls)
      .sort(function(a, b) {
        return a['discipline'] == b['discipline'] ? 0 : a['discipline'] < b['discipline'] ? -1 : 1;
    });
  });

  animateTransition();
}

var animateTransition = function() {
  chartElement.selectAll('circle')
    .transition()
    .duration(transitionDuration)
    .attr('cy', function(d, i) {
      return i * (barHeight + barGap) + (barHeight / 2);
    });

  containerElement.selectAll('.labels li')
    .transition()
    .duration(transitionDuration)
    .attr('style', function(d, i) {
        return formatStyle({
            'width': labelWidth + 'px',
            'height': barHeight + 'px',
            'left': '0px',
            'top': i * (barHeight + barGap) + 'px;'
        });
    });

  containerElement.selectAll('.value text')
    .transition()
      .duration(transitionDuration)
      .attr('y', function(d,i) {
          return i * (barHeight + barGap) + (barHeight / 2) + 3;
      });

  containerElement.selectAll('.hover-target rect')
    .attr('y', function(d,i) {
        return i * (barHeight + barGap);
    });

  return true;
}


$(document).ready(function() {
  $(".dropdown-button").click(function() {
    var $button, $menu;
    $button = $(this);
    $menu = $button.siblings(".dropdown-menu");
    $menu.toggleClass("show-menu");
    $menu.children("li").click(function() {
      $menu.removeClass("show-menu");
      $button.html($(this).html());
      toggleSort($(this).html());
    });
  });
  sortByAverage();
  
});

var toggleSort = function(sortBy) {
  if (sortBy == 'Average grade') {
    sortByAverage();
  } else if (sortBy == 'Alphabetical') {
    sortAlphabetical();
  } else if (sortBy == 'Discipline') {
    sortByDiscipline();
  }
}

/*
 * Initially sort by average and render the graphic
 */
render(data, '#graphic');

</script>

{% endblock content %}
