{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
<div class="home">

<div class="top">
  <h1>Grades</h1>
  <p class="byline">By Sahil Chinoy and Ronald Kwan</p>
  <p class="date">November 29, 2015</p>

  <br> 
  
  <p>The Daily Californian sifted through eight years of UC Berkeley grades, looking for the most difficult classes, departments and academic disciplines.</p>
</div>

<hr>

<div class="wrapper">
  <div class="prompt">
    <p class="title">Read the story</p>
    <p>Title of story goes here</p>
  </div>

  <div class="prompt">
    <p class="title">Explore the data</p>
    <p>Browse all subjects, or explore the hardest courses and professors. </p>
  </div>

  <div class="prompt">
    <p class="title">Build an app</p>
    <p>The code for our analysis is open-source. Use it for your own app or investigation.</p>
  </div>
</div>

<hr>

<div class="wrapper">
<div class="column">
  <h2>By division</h2>
  <table>
  {% for division in divisions %}
  <tr>
  <td>
    <a href="{% url 'division' division.slug %}">{{ division.name }}</a>
  </td>
  </tr>
  {% endfor %}
  </table>

  <h2>By discipline</h2>
  <table>
   <thead>
    <tr>
      <th class="title">Discipline</th>
      <th class="figure">Average</th>
    </tr>
  </thead>
  {% for stat in disciplines %}
  <tr>
  <td class="title">
    <a href="{% url 'discipline' stat.discipline.slug %}">{{ stat.discipline.name }}</a>
  </td>
  <td class="figure">
    {{ stat.mean|floatformat:"2" }}
  </td>
  </tr>
  {% endfor %}
  </table>
</div>

<div class="column">
  <h2>Hardest subjects</h2>
  <table>
  <thead>
    <tr>
      <th class="title">Subject</th>
      <th class="figure">Average</th>
    </tr>
  </thead>
  {% for stat in hardest_subjects %}
  <tr>
  <td class="title">
    <a href="{% url 'subject' stat.subject.slug %}">{{ stat.subject.name }}</a>
  </td>
  <td class="figure">
    {{ stat.mean|floatformat:"2" }}
  </td>
  </tr>
  {% endfor %}
  </table>

  <h2>Easiest subjects</h2>
  <table>
  <thead>
    <tr>
      <th class="title">Subject</th>
      <th class="figure">Average</th>
    </tr>
  </thead>
  {% for stat in easiest_subjects %}
  <tr>
  <td class="title">
    <a href="{% url 'subject' stat.subject.slug %}">{{ stat.subject.name }}</a>
  </td>
  <td class="figure">
    {{ stat.mean|floatformat:"2" }}
  </td>
  </tr>
  {% endfor %}
  </table>

</div>

<div class="column">
  <h2>Hardest classes</h2>
  <table>
  <thead>
    <tr>
      <th class="title">Class</th>
      <th class="figure">Average</th>
    </tr>
  </thead>
  {% for class in hardest_classes %}
  <tr>
  <td class="title">
    <a href="{% url 'course' class.id %}">{{ class }}</a>
  </td>
  <td class="figure">
    {{ class.mean|floatformat:"2" }}
  </td>
  </tr>
  {% endfor %}
  </table>

  <h2>Easiest classes</h2>
  <table>
  <thead>
    <tr>
      <th class="title">Class</th>
      <th class="figure">Average</th>
    </tr>
  </thead>
  {% for class in easiest_classes %}
  <tr>
  <td class="title">
    <a href="{% url 'course' class.id %}">{{ class }}</a>
  </td>
  <td class="figure">
    {{ class.mean|floatformat:"2" }}
  </td>
  </tr>
  {% endfor %}
  </table>
</div>

</div>

</div>
{% endblock content %}
