{% extends "base.html" %}

{% block subtitle %}
{{ object }}
{% endblock subtitle %}

{% block content %}
<h1>{{ object }} </h1>
<div class="col-1-3">
  <div class="content">
    <h2>Information/Statistics</h2>
    <table cellspacing="0" width="100%">
      <tr>
        <th>Instructor(s)</th>
        <td>{{ object.instructor }}</td>
      </tr>
      <tr>
        <th>Median</th>
        <td>{{ object.grade_median|floatformat:2|default:"N/A" }}</td>
      </tr>
      <tr>
        <th>Mean</th>
        <td>{{ object.grade_average|floatformat:2|default:"N/A" }}</td>
      </tr>
      <tr>
        <th>Standard Deviation</th>
        <td>{{ object.grade_stdev|floatformat:2|default:"N/A" }}</td>
      </tr>
      <tr>
        <th>Letter Grades</th>
        <td>{{ object.letter_grades }} of {{ object.total_grades }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="col-2-3">
  <div class="content">
    <h2>Grade Distribution</h2>
    <table>
      <tbody>
    {% for gc in grade_counts %}
        <tr>
          <td>{{ gc.grade }}</td>
          <td>{{ gc.count }}</td>
        </tr>
    {% empty %}
        <tr>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
