{% extends "base.html" %}

{% block content %}
<h1>{{ object }} </h1>
<ul>
  <li>Instructor(s): {{ object.instructor }}</li>
  <li>Median: {{ object.grade_median|floatformat:2|default:"N/A" }}</li>
  <li>Average: {{ object.grade_average|floatformat:2|default:"N/A" }}</li>
  <li>St. Deviation: {{ object.grade_stdev|floatformat:2|default:"N/A" }}</li>
  <li>Letter Grades: {{ object.letter_grades }} of {{ object.total_grades }}</li>
</ul>

<h2>Grade Distribution</h2>
<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
{% for gc in grade_counts %}
    <tr>
      <td>{{ gc.grade }}</td>
      <td>{{ gc.count }}</td>
    </tr>
{% empty %}
    <tr>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
