{% extends "dt_base.html" %}
{% load mathfilters %}

{% block content %}
<div class="col-1-1">
  <div class="content">
    <h1>Subjects</h1>
    <table id="subjects" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Median</th>
          <th>Mean</th>
          <th>St. Dev.</th>
          <th>Grades</th>
          <th>% Letter</th>
        </tr>
      </thead>
      <tbody>
{% for subject in object_list %}
        <tr>
          <td>
            <a href="{% url 'subject-course-list' subject.id %}">
              {{ subject }}
            </a>
          </td>
          <td>
            {{ subject.grade_median|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ subject.grade_average|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ subject.grade_stdev|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ subject.total_grades }}
          </td>
          <td>
            {{ subject.letter_grades|div:subject.total_grades|mul:100|floatformat:0 }}
          </td>
        </tr>
{% empty %}
        <tr>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
    $(document).ready(function() {
        $('#subjects').DataTable( {
            "paging": false
        } );
    } );
</script>
{% endblock content %}
