{% extends "dt_base.html" %}
{% load mathfilters %}

{% block subtitle %}
Subjects
{% endblock subtitle %}

{% block content %}
<div class="col-1-1">
  <div class="content">
    <h1>Subjects ({{ divset.name }})</h1>
    <table id="subjects" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Median</th>
          <th>Mean</th>
          <th>St. Dev.</th>
          <th>Grades</th>
          <th>% Letter</th>
        </tr>
      </thead>
      <tbody>
{% for stats in object_list %}
        <tr>
          <td>
            <a href="{% url 'div-subject-course-list' stats.division_set.id stats.subject.id %}">
              {{ stats.subject.name }}
            </a>
          </td>
          <td>
            {{ stats.grade_median|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ stats.grade_average|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ stats.grade_stdev|floatformat:2|default:"N/A" }}
          </td>
          <td>
            {{ stats.total_grades }}
          </td>
          <td>
{% if stats.total_grades > 0 %}
            {{ stats.letter_grades|div:stats.total_grades|mul:100|floatformat:0 }}
{% else %}
            N/A
{% endif %}
          </td>
        </tr>
{% empty %}
        <tr>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
    $(document).ready(function() {
        $('#subjects').DataTable( {
            "paging": false
        } );
    } );
</script>
{% endblock content %}
