{% extends "dt_base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load gradefilters %}

{% block subtitle %}
{{ subject }} ({{ division_set.name }})
{% endblock subtitle %}

{% block content %}
  <div class="breadcrumb">
    <a href="{% url 'div-subject-stats-list' division_set.id %}">{{ division_set.name }}</a>
    <a href="">{{ subject }}</a>
  </div>
    <h1>
      {{ subject }}
    </h1>
    <div class="stats">
      <ul>
        <li class="main-grade">{{ stats.grade_average|lettergrade }}</li>
        <li>{{ stats.grade_average|floatformat:2 }}<span>Average</span></li>
        <li>{{ stats.grade_stdev|floatformat:2 }}<span>St. Dev.</span></li>
        <li>{{ stats.total_grades|intcomma }}<span>Grades</span></li>
      </ul>
    </div>

    <div id="histogram"></div>
    <div id="timeseries"></div>

    <table id="courses" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Course</th>
          <th>Average</th>
          <th>St. Dev.</th>
          <th>Grades</th>
        </tr>
      </thead>
      <tbody>
{% for course in courses %}
        <tr>
          <td>
            <a href="{% url 'course-section-list' course.id %}">
              {{ course }}
            </a>
          </td>
          <td>
            {{ course.grade_average|floatformat:2|default:"&mdash;" }}
          </td>
          <td>
            {{ course.grade_stdev|floatformat:2|default:"&mdash;" }}
          </td>
          <td>
            {{ course.total_grades|intcomma }}
          </td>
        </tr>
{% empty %}
        <tr>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
{% endfor %}
      </tbody>
    </table>

<script>
/* Set up the list of courses */
$(document).ready(function() {
    $('#courses').DataTable( {
        "order": [],
        "columnDefs": [
            { "orderable": false, "targets": 0 }
        ],
        "paging": false
    } );
} );

/* Transform grade counts into percentages for histogram */
var grade_counts = {{ stats.grade_counts|safe }};
var total_letter_grades = {{ stats.letter_grades }};
var histogramData = [];
_.each(grade_counts, function(v,k) {
  obj = {};
  obj['label'] = k;
  obj['amt'] = 100 * v / total_letter_grades;
  histogramData.push(obj);
});

/* Render the histogram */
renderHistogram(histogramData, '#histogram');

var yearly_averages = {{ stats.yearly_averages|safe }}
var timeseriesData = [];
_.each(yearly_averages, function(v,k) {
  obj = {};
  obj['date'] = d3.time.format('%Y').parse(k);
  obj['amt'] = +v.mean
  timeseriesData.push(obj);
});
renderTimeSeries(timeseriesData, '#timeseries');
console.log(timeseriesData);
</script>

{% endblock content %}
