{% extends "dt_base.html" %}
{% load humanize %}
{% load mathfilters %}

{% block subtitle %}
Subjects ({{ division_set.name }})
{% endblock subtitle %}

{% block content %}
<div class="breadcrumb">
  <a href="">{{ division_set.name }}</a>
</div>
<h1>Subjects</h1>
<table id="subjects" class="display responsive nowrap" cellspacing="0" width="100%">
<thead>
  <tr>
    <th>Subject</th>
    <th>Average</th>
    <th>St. Dev.</th>
    <th>Grades</th>
  </tr>
</thead>
<tbody>
{% for stats in subject_stats_list %}
  {% if stats.total_grades > 0 %}
  <tr>
    <td>
      <a href="{% url 'div-subject-course-list' stats.division_set.id stats.subject.id %}">
        {{ stats.subject.name }}
      </a>
    </td>
    <td>
      {{ stats.grade_average|floatformat:2|default:"&mdash;" }}
    </td>
    <td>
      {{ stats.grade_stdev|floatformat:2|default:"&mdash;" }}
    </td>
    <td>
      {{ stats.total_grades|intcomma }}
    </td>
  </tr>
  {% endif %}
{% empty %}
  <tr>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
{% endfor %}
</tbody>
</table>

<script>
    $(document).ready(function() {
        $('#subjects').DataTable( {
            "paging": false
        } );
    } );
</script>
{% endblock content %}
