line,
rect {
    shape-rendering: crispEdges;
}

.axis {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    fill: #777;

    path,
    line {
        fill: none;
        stroke: #ccc;
        shape-rendering: crispEdges;
    }
    &.y {
        path { display: none; }
        .tick line { display: none; }
    }

}

.grid {
    path { display: none; }
    .tick {
        stroke: #eee;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    &.y {
        g:first-child line { display: none; }
    }
}

.value text {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;

    &.in { fill: #fff; }
    &.out { fill: #999; }
    &.other { display: none; }
}
