#graphic, .graphic {
    position: relative;
    margin-bottom: 11px;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after { clear: both; }

    img {
        max-width: 100%;
        height: auto;
    }
}

.graphic-wrapper { position: relative; }

line,
rect {
    shape-rendering: crispEdges;
}

.axis {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    fill: #777;

    path,
    line {
        fill: none;
        stroke: #ccc;
        shape-rendering: crispEdges;
    }
    &.y {
        path { display: none; }
        .tick line { display: none; }
    }

}

.grid {
    path { display: none; }
    .tick {
        stroke: #eee;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    &.y {
        g:first-child line { display: none; }
    }
}

.value text {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;

    &.in { fill: #fff; }
    &.out { fill: #999; }
    &.other { display: none; }
}

/* key */
.key {
    margin: 10px 0 10px 0;
    padding: 0;
    list-style-type: none;

    .key-item {
        display: inline-block;
        margin: 0 30px 0 0;
        padding: 0;
        line-height: 10px;

        b {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 6px;
            float: left;
        }

        label {
            white-space: nowrap;
            font-size: 11px;
            color: $medium-gray;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;

            @media screen and (max-width: 500px) {
                font-size: 10px;
            }
        }
    }
}
