.histogram {
    .bars rect { fill: lighten($action-color, 10%); }

    .zero-line  {
        stroke: #666;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    .axis.x {
        path { display: none; }
        .tick line { display: none; }
    }
}