.home {
	.top {
		text-align: center;
		margin-bottom: 30px;

		h1 {
			font-size: 40px;
			font-family: Georgia;
			font-weight: 400;
			margin-bottom: 10px;
		}

		.byline,
		.date {
			text-transform: uppercase;
			margin: 0;
		}
	}
	.prompt {
		@include span-columns(4);
		@include pad();
		text-align: center;

		.title {
			text-transform: uppercase;
			color: $medium-gray;
		}
	}

	.wrapper {
		@include clearfix;
	}

	table {
		margin-bottom: 30px;

		.title {
			width: 80%;
		}

		.figure {
			text-align: right;
		}
	}
	.column {
		@include span-columns(4);
		@include pad();
	}
}