.stats {
  @include span-columns(12);

  $base-spacing: 1.5em !default;
  $stats-color: lighten($action-color, 10%);

  padding: $base-spacing / 2;
  margin-bottom: $base-spacing;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }

  .main-grade {
  	font-size: 2.5em;
  	font-weight: bold;
    color: $action-color;
    width: 70px;
  }
}