#timeseries {
    @include span-columns(12);

    @include media($medium-screen) {
        @include span-columns(5.5);
        @include shift(1);
    }

    .bars rect { fill: $action-color; }

    .zero-line  {
        stroke: #666;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    .lines {
        fill: none;
        stroke-width: 3px;
        stroke: $action-color;
    }

    .value text {
        font-size: 12px;
        font-weight: bold;
        fill: #999;
    }

    @include media($medium-screen) {
        .value text {
            font-size: 10px;
        }
    }

}